.typesContainer {
    position: absolute;
    z-index: 2000;
    width: 100vw;
    height: 100svh;
    top: 0;
    /* Changed from -100svh to 0 for debugging */
    left: 0;
    /* display: flex; */
    text-align: center;
    pointer-events: auto;
}

.blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}