.typesContainer {
    background-color: red;
    position: absolute;
    z-index: 1001;
    width: 100vw;
    height: 90vh;
    top: -100vh;
    display: flex;
    text-align: center;
}

.blurBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

@media only screen and (max-width: 1000px) {
    .typesContainer {

        /* flex-direction: column; */
    }

}