.typeContainer {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    width: 25svw;
    height: 40svh;
    color: var(--brown);
    cursor: pointer;
    border-radius: 2000px;

}

.typeImage {
    width: 27svw;
    overflow: visible;

}

.typeHeader {
    display: block;
    font-size: calc(2vh + 1.5vw + 10px);

}

.TypesInformational {
    position: absolute;
}

.findMe {
    display: none;
    position: absolute;
    top: 120svh;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1000;
    font-size: calc(1.4vw + 1.4vh + 14px);
    color: var(--brown);
    text-align: center;
    font-family: var(--secondaryFont);
    left: 60svw;
    width: 75svw;
}