.typeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    height: 30svh;
    color: var(--brown);
    cursor: pointer;
    border-radius: 2000px;

}

.typeImage {
    width: 25vw;
    /* height: 25vw; */
    overflow: visible;
    transform: translate(0%, 0%);
}

.typeHeader {
    display: block;
    font-size: calc(1vh + 1vw + 10px);

}

.TypesInformational {
    position: absolute;


}

.findMe {
    position: absolute;
    top: 120vh;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1000;
    font-size: calc(1.0vw + 1.0vh + 7px);
    color: var(--brown);
    width: 95vw;
    text-align: center;
}