/* ===== FOUNDWOOD HEADER STYLES ===== */

.animated-menu-item {
    position: relative;
}

/* ✨ WORLD-CLASS BUTTON DESIGN ✨ */
.animated-menu-item.text-item {
    overflow: visible;
    padding: 8px;
    margin-top: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    border-radius: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;

}