.galleryContainer {
    width: 0vw;
    height: 0svh;
    display: flex;
    z-index: 0;
    position: absolute;
    top: calc(10svh);
    left: 0vw;
    transition: 1s ease-in;
    font-size: calc(1.0vw + 1.0vh + 8px);
}

.infoGal {
    z-index: 999999;
    position: absolute;
    top: 0;
    color: white;
    filter: drop-shadow(1px 1px 0px black);
    font-size: calc(1vw + 1vh + 15px);
}

.thumbNails {
    padding-top: 4svh;
    width: calc(50svw -50px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 10svw;
    gap: 10px;
    height: calc(45svh - 20px);
    border-radius: 2px;

}

.thumbNailPhoto {
    width: 10vw;
    height: 10vw;
    border: 1px var(--brown) solid;
    border-radius: 150px;
    cursor: pointer;
    transition: 1s;
}

.thumbNailPhoto:hover {
    border-radius: 10px;
}

.currentPhoto {
    display: flex;
    position: relative;
    transition: 1s;
}

.masterImage {
    width: 90svh;
    height: 90svh;
    border-radius: 500px 0px 0px 500px;
    border: 1px var(--brown) solid;
    transition: 1s;
    object-fit: fill;
    z-index: 9999;
    position: relative;
    object-fit: cover;

}

.galleryLeftBottom {

    height: 45svh;
    display: flex;
    position: relative;
    color: var(--brown);
    border-top: 1px solid var(--brown);
    font-size: calc(0.7vw + 0.7vh + 10px);
    font-family: sans-serif;
    padding: 5px;
    flex-direction: column;

}

.galleryContact {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(1vw + 1vh + 10px);
    cursor: pointer;
}

.furnitureName {
    /* margin-top: 5px; */
    text-align: center;
    font-size: calc(2vw + 2vh + 10px);

}

.furniturePrice {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    left: 22%;
    top: 92%;
    width: 100%;
}

.furnitureDescription {
    height: 25vh;
    font-family: var(--secondaryFont);
    width: 100%;
    font-size: calc(1vw + 1vh + 10px);
}

.smallScreenCover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* background: rgba(255, 0, 0, 0.309); */
    height: 100%;
    color: var(--brown);
    transition: 1s;
    padding: 0 15px 0 15px;
}

.galleryLeftTop {
    position: relative;
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {

    .galleryLeftTop {
        height: 15svh;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */

    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 100svh;
        position: absolute;
        bottom: 0;

    }

    .smallScreenCover {

        color: white;
        z-index: 60000;
        position: absolute;
        top: 70svh;
        filter: drop-shadow(5px 5px 1px black);

    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        overflow-x: none;
        overflow-y: none;
    }

    .masterImage {
        border-radius: 5px;
        height: 100svw;
        width: 100svw;
        border: none;
    }

    .thumbNailPhoto {
        width: 18vw;
        height: 18vw;
    }

    .thumbNails {
        grid-template-columns: repeat(10, 1fr);
        /* grid-auto-rows: calc((45svh / 2) - 10svh); */
        grid-auto-rows: 18vw;
        row-gap: 10px;
        column-gap: 20px;
        /* padding-top: 3svh; */
        justify-content: center;
        align-items: center;


    }


    .thumbNailPhoto {
        width: 10vw;
        height: 10vw;
    }
}


@media only screen and (min-width: 760px) and (max-width: 900px) {
    .galleryLeftTop {
        /* height: 35svh; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 0px;
    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        overflow-x: none;
        overflow-y: none;
    }

    .masterImage {
        border-radius: 5px;
        height: 100svw;
        width: 100svw;
        border: none;
        object-fit: cover;
    }

    .thumbNailPhoto {
        width: 21vw;
        height: 21vw;
    }

    .thumbNails {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 21vw;
        row-gap: 20px;
        padding-top: 1.7svh;
    }
}

@media only screen and (max-width: 760px) {
    .galleryLeftTop {
        height: 35svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 0px;
        font-size: calc(.8vw + .8vh + 6px);
    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        overflow-x: none;
        overflow-y: none;
        justify-content: center;
    }

    .masterImage {
        position: absolute;
        border-radius: 5px;
        height: 120svw;
        width: 100svw;
        border: none;
        /* object-fit: cover; */
        top: 0;
    }

    .thumbNailPhoto {
        width: 23vw;
        height: 23vw;
    }

    .thumbNails {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 22vw;
        row-gap: 10px;
        padding-top: 5svh;
    }

    .furnitureName {
        padding-top: 5vh;
        text-align: center;
    }

    .furnitureDescription {
        font-size: calc(1vw + 1vh + 12px);
        text-align: center;
        width: 100svw;
    }

}

@media only screen and (min-width: 900px) and (max-width: 1220px) and (min-height: 700px) and (max-height:900px) {


    .thumbNailPhoto {
        width: 12svh;
        height: 12svh;
    }

    .thumbNails {
        grid-template-columns: repeat(8, 1fr);
        height: calc(12svh - 20px);
    }

    .galleryLeftTop {
        margin-top: 3.3svh;
        height: calc(12svh - 20px);
    }

    .masterImage {
        object-fit: fill;
        margin-top: 8svh;
        height: 80svh;
    }

    .furnitureName {
        text-align: center;
    }

    .infoGal {
        z-index: 9999999;
        position: absolute;
        top: 17svh;
        color: white;
        background-color: rgba(0, 0, 0, 0.268);
        display: none;
    }

    .furnitureDescription {
        font-size: calc(.6vw + .6vh + 6px);
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) and (min-height: 300px) and (max-height:605px) {
    .thumbNails {
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: 2vw;
        row-gap: 20px;
        /* padding-top: 1.7svh; */
        z-index: 99999;


    }

    .thumbNailPhoto {
        width: 14vh;
        height: 14vh;
        border: 1px var(--brown) solid;
        border-radius: 150px;
        cursor: pointer;
        transition: 1s;
        justify-items: end;
    }

    .masterImage {
        object-fit: fill;
        margin-top: -22svh;
        height: 90svh;
    }

    .furnitureDescription {
        font-size: calc(.4vw + .4vh + 5px);
        width: 97svw;
    }

    .smallScreenCover {
        margin-top: -4vh;
    }
}