.galleryContainer {
    width: 0vw;
    height: 0svh;
    display: flex;
    z-index: 0;
    position: absolute;
    top: calc(10svh);
    left: 0vw;
    transition: 1s ease-in;
}

.thumbNails {
    padding-top: 4svh;
    width: calc(50svw -50px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 10svw;
    gap: 10px;
    height: calc(45svh - 20px);
    border-radius: 2px;

}

.thumbNailPhoto {
    width: 10vw;
    height: 10vw;
    border: 1px var(--brown) solid;
    border-radius: 150px;
    cursor: pointer;
    transition: 1s;
}

.thumbNailPhoto:hover {
    border-radius: 10px;
}

.currentPhoto {
    display: flex;
    transition: 1s;
}

.masterImage {
    width: 90svh;
    height: 90svh;
    border-radius: 500px 0px 0px 500px;
    border: 1px var(--brown) solid;
    transition: 1s;
    object-fit: fill;

}

.galleryLeftBottom {

    height: 45svh;
    display: flex;
    position: relative;
    color: var(--brown);
    border-top: 1px solid var(--brown);
    font-size: calc(0.7vw + 0.7vh + 10px);
    font-family: sans-serif;
    padding: 5px;
    flex-direction: column;

}

.galleryContact {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(1vw + 1vh + 10px);
    cursor: pointer;
}

.furnitureName {
    margin-top: 5px;
    text-align: center;
}

.furniturePrice {

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.furnitureDescription {
    height: 25vh;
    font-family: var(--secondaryFont);
    width: 100%;
}

.furniturePrice {
    height: 25vh;
    left: 0;
}

.smallScreenCover {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* background: rgba(255, 0, 0, 0.309); */
    height: 45svh;
    color: var(--brown);
    transition: 1s;
    padding: 0 15px 0 15px;
}



@media only screen and (min-width: 900px) and (max-width: 1200px) {

    .galleryLeftTop {
        height: 35svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 0px;

    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        /* margin-top: -20px; */
        height: 150svw;
        width: 100svw;
        overflow-x: none;
        overflow-y: none;


    }

    .masterImage {

        border-radius: 5px;
        height: 100svw;
        width: 100svw;
        border: none;
        object-fit: cover;
    }

    .thumbNailPhoto {
        width: 22vw;
        height: 22vw;
    }

    .thumbNails {
        grid-template-columns: repeat(4, 1fr);
        /* grid-auto-rows: calc((45svh / 2) - 10svh); */
        grid-auto-rows: 22vw;
        row-gap: 20px;
        column-gap: 3px;
    }

    .thumbNails {
        padding-top: 1svh;
        row-gap: 20px;
        column-gap: 30px;
    }

    .thumbNailPhoto {
        width: 21.5vw;
        height: 21.5vw;
    }
}


@media only screen and (min-width: 760px) and (max-width: 900px) {

    .galleryLeftTop {
        height: 35svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 0px;

    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        /* margin-top: -20px; */
        height: 150svw;
        width: 100svw;
        overflow-x: none;
        overflow-y: none;


    }

    .masterImage {

        border-radius: 5px;
        height: 100svw;
        width: 100svw;
        border: none;
        object-fit: cover;


    }

    .thumbNailPhoto {
        width: 21vw;
        height: 21vw;
    }

    .thumbNails {
        grid-template-columns: repeat(4, 1fr);
        /* grid-auto-rows: calc((45svh / 2) - 10svh); */
        grid-auto-rows: 21vw;
        row-gap: 20px;
        padding-top: 1.7svh;
    }
}

@media only screen and (max-width: 760px) {
    .galleryLeftTop {
        height: 35svh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .galleryContainer {
        flex-direction: column;
    }

    .galleryLeftBottom {
        display: none;
        width: 0px;
        height: 0px;

    }

    .currentPhoto {
        color: var(--brown);
        display: flex;
        flex-direction: column;
        /* margin-top: -20px; */
        height: 150svw;
        width: 100svw;
        overflow-x: none;
        overflow-y: none;


    }

    .masterImage {

        border-radius: 5px;
        height: 100svw;
        width: 100svw;
        border: none;
        object-fit: cover;


    }

    .thumbNailPhoto {
        width: 22vw;
        height: 22vw;
    }

    .thumbNails {
        grid-template-columns: repeat(4, 1fr);
        /* grid-auto-rows: calc((45svh / 2) - 10svh); */
        grid-auto-rows: 22vw;
        row-gap: 20px;
        padding-top: 3.2svh;
    }

    .furnitureName {
        /* margin-top: 5px; */
        text-align: center;
    }

}