.new_app_header {
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;
    position: fixed;
    z-index: 1000;
    font-size: clamp(3rem, 4vw, 5rem);
    text-transform: uppercase;
    font-family: CustomFont;
    color: #ffffff00;
    left: 0;
    bottom: 0;
    color: #77481C;
    /* transform: translate(0, -50%); */
    /* filter: drop-shadow(3px 3px 0px rgb(0, 0, 0)); */
    /* -webkit-text-stroke: 1px #ffffff; */
    /* -webkit-text-fill-color: #ffffff; */

    -webkit-text-stroke: 2px #77481C;

    -webkit-text-fill-color: #ffffff;
    text-align: center;

}

.new_app_info {
    /* font-size: clamp(1rem, 6vw, 4rem); */
    /* width: 50svw; */
    color: white;
    text-align: center;
}

.new_app_small_header {
    position: fixed;
    /* Use fixed instead of absolute for viewport-relative positioning */
    bottom: 0;
    left: 0;
    right: 0;
    /* Ensure full width */
    padding: 0px 0px calc(20px + env(safe-area-inset-bottom));
    /* Account for safe area */
    z-index: 1000;
    /* font-size: clamp(22px, calc(1.8svw + 1.8svh + 13px), 32px); */
    font-size: clamp(3rem, 4vw, 5rem);
    color: white;
    text-align: center;
    filter: drop-shadow(1px 1px 0px #000000);
    user-select: none;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-text-stroke: 0.5px #77481C;
    -webkit-text-fill-color: #77481C;
}