.new_app_header {
    user-select: none;
    position: absolute;
    z-index: 1000;
    font-size: calc(5vw + 5vh + 20px);
    font-family: CustomFont;
    color: white;
    left: 7svw;
    top: 40%;
    color: #77481C;
    transform: translate(0, -50%);
    filter: drop-shadow(3px 3px 0px rgb(0, 0, 0));
    /* color: white; */

}

.new_app_info {
    /* transform: translate(0, -50%); */
    font-size: calc(1.5vw + 1.5vh + 20px);

    /* width: 50svw; */
    /* color: white; */
}

.new_app_small_header {

    width: 100%;
    user-select: none;
    position: absolute;
    z-index: 1000;
    font-size: calc(2vw + 2vh + 15px);
    font-family: CustomFont;
    color: white;
    text-align: center;
    left: 0svw;
    bottom: 2%;
    color: #77481C;
    /* transform: translate(0, -50%); */
    filter: drop-shadow(3px 3px 0px rgb(0, 0, 0));
    /* color: white; */
}

.new_app_info {}