.contactContainer {
    z-index: 20000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.642);
    width: 100svw;
    height: 100svh;
    left: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--brown);
    color: var(--lightGreen);
    padding: 20px;
}

.exit-icon {
    position: absolute;
    right: .5%;
    top: .5%;
    font-size: 60px;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.exit-icon:hover {
    color: #d9ebc7;
}


@media only screen and (max-width: 1000px) {
    .exit-icon {
        right: 2%;
        top: 90%;
    }
}