h1 {
    text-align: center;
    margin-bottom: 30px;
    filter: drop-shadow(2px 2px 1px black);
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: white;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    color: var(--brown);
    transition: 1s;
    margin-top: 30px;
}

.btn:focus {
    outline: 0;

}

.btn:hover {
    background-color: var(--lightGreen);
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;


}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 25vw;

}

.form-control input {
    user-select: none;
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 25px;
    color: white;
    position: relative;
    z-index: 100;
    transition: 1s
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: var(--lightGreen);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
    transform: translateY(0);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    filter: drop-shadow(1px 1px 0px black);


}

.form-control input:focus+label,
.form-control input:valid+label {
    transform: translateY(-30px);

}

.form-control label span {
    display: inline-block;
    font-size: 30px;
    min-width: 5px;
    color: white;

}

.form-control input:focus+label span,
.form-control input:valid+label span {
    transform: translateY(-5px);
    transition: transform 0.3s cubic-bezier(0.68, -20, 0.265, 1.55);
}

.facebookIcon {
    margin-top: 15px;
    font-size: 50px;
    color: white;
    transition: 1s;

}

.facebookIcon:hover {
    color: var(--lightGreen);
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .form-control input {
        width: 80vw;

    }
}